.dice-box {
   display: flex;
   gap: 10px;
   margin-top: 20px;
}

.roll-btn-div {
   position: relative;
   width: 80px; // btn width
   margin-top: 15px;
   box-shadow: 0px 0px 10px -3px rgba(0,0,0,1);

   .dice-sum {
      position: absolute;
      top: -8px;
      right: -8px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #2196F3;
      color: white;
      border-radius: 50px;
      font-size: 11px;
      width: 20px;
      height: 20px;
   }

   .roll-btn {
      padding-block: 7px;
      width: 100%;
      cursor: pointer;
      border: solid 1px transparent;
      background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg,#2196F3, #FCB61D, #AE2029);      
      background-origin: border-box;
      box-shadow: 2px 1000px 1px #fff inset;
      border-radius: 5px;
      color: #2196F3;
      &:disabled {
         background-image: none;
         background-origin: initial;
         box-shadow: none;
         border: 1px solid #AE2029;
         color: #AE2029;
         background-color: white;
      }
   }

   .finish-btn {
      padding-block: 7px;
      width: 100%;
      cursor: pointer;
      border-radius: 5px;
      background-color: #86B049;
      color: white;
      border: none;
      font-weight: 700;
   }

   .game-over-btn {
      padding-block: 7px;
      width: 100%;
      cursor: pointer;
      border-radius: 5px;
      background-color: #AE2029;
      color: white;
      border: none;
   }
}