.die {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   border: 1px solid black;
   border-radius: 6px;
   width: 40px;
   height: 40px;
}

.picked-die {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   border: 1px solid black;
   border-radius: 6px;
   width: 40px;
   height: 40px;
   background-color: tomato;
   color: white;
}