tr {
   td {
      div {
         display: flex;
         justify-content: center;
         align-items: center;
         
         button {
            height: 30px;
            width: 50px;
            border: none;
            background-color: transparent;
         }
      }
   }
}

.table-row-sum {
   th {
      background-color: rgb(190, 190, 190);
   }

   td {
      div {
         button {
            background-color: rgb(190, 190, 190);
         }
      }
   }
}