@import '../../style/cell';
@import '../../style/colors';

tr {
   .row-sign {
      color: $white;
      background-color: $yellow;
      font-weight: 700;
   }
   td {
      div {
         display: flex;
         justify-content: center;
         align-items: center;
         
         button {
            height: 27px;
            width: 45px;
            border: none;
            background-color: transparent;
            border-radius: $cell-radius;
            &:disabled {
               // box-shadow: inset 0px -11px 8px -13px black; 
               color: black
            }
         }
      }
   }
}

.table-row-sum {
   display: none;

   th {
      background-color: rgb(190, 190, 190);
   }

   td {
      div {
         button {
            background-color: rgb(190, 190, 190);
            border-radius: $cell-radius;
         }
      }
   }
}