@import '../../style/cell';
@import '../../style/colors';

table{
   border-collapse: collapse;
   text-align: center;
   box-shadow: 0px 0px 35px -8px rgba(0,0,0,1);
}

th, td {
   border: 1px solid $dark-grey;
   background-color: $light-grey;
}


