tr {
   td {
      div {
         display: flex;
         justify-content: center;
         align-items: center;
         
         p {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
            width: 50px;
         }
      }
   }
}

.table-row-sum {
   th {
      background-color: rgb(190, 190, 190);
   }

   td {
      div {
         p {
            background-color: rgb(190, 190, 190);
         }
      }
   }
}